fastapi
uvicorn
pydantic
pymupdf
python-dotenv
google-genai
openai
groq
langchain
langchain-openai
langchain-google-genai
langchain-groq
langgraph
genanki
python-multipart
langchain-text-splitters
langsmith
edge-tts
